.container {
  width: 50%;
  margin: auto;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;

    border: 1px solid black;
 
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
  }